# Banco de dados
POSTGRES_DB=samgestor_db
POSTGRES_USER=samgestor
POSTGRES_PASSWORD=password123

# PgAdmin
PGADMIN_EMAIL=fabricio.bizotto@gmail.com
PGADMIN_PASSWORD=password123
PGADMIN_DEFAULT_EMAIL=fabricio.bizotto@gmail.com
PGADMIN_DEFAULT_PASSWORD=password123

# RabbitMQ
RABBITMQ_USER=samgestor
RABBITMQ_PASS=password123

# Mercado Pago
MERCADO_PAGO_ACCESS_TOKEN=

# Auth.js / NextAuth
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=seu_segredo_aqui
AUTH_TRUST_HOST=true

# JWT
JWT_SECRET=seu_segredo_aqui
JWT_ISSUER=SAMGestor
JWT_AUDIENCE=SAMGestor.Client
JWT_REFRESH_DAYS=7
JWT_ACCESS_MINUTES=30
JWT_REFRESH_REUSE_PERIOD_SECONDS=120